In [10]:
import pandapower as pp
pp.__version__

'2.1.0'

In [12]:
import pandapower.networks as nw

In [13]:
net = nw.simple_four_bus_system()
print(net)

This pandapower network includes the following parameter tables:
   - bus (4 elements)
   - load (2 elements)
   - sgen (2 elements)
   - ext_grid (1 element)
   - line (2 elements)
   - trafo (1 element)
   - bus_geodata (4 elements)

In [29]:
print(net.bus,'\n\n')
print(net.sgen,'\n\n')
print(net.load,'\n\n')
print(net.line,'\nn')
net.trafo

      name  vn_kv type  zone  in_service
0  bus1ref   10.0    b  None        True
1     bus2    0.4    b  None        True
2     bus3    0.4    b  None        True
3     bus4    0.4    b  None        True


  name  bus   p_mw  q_mvar  sn_mva  scaling  in_service  type  current_source
0  pv1    2  0.020   0.005    0.03      1.0        True  None            True
1  pv2    3  0.015   0.002    0.02      1.0        True  None            True


    name  bus  p_mw  q_mvar  const_z_percent  const_i_percent  sn_mva  scaling  in_service  type
0  load1    2  0.03    0.01              0.0              0.0     NaN      1.0        True  None
1  load2    3  0.03    0.01              0.0              0.0     NaN      1.0        True  None


    name      std_type  from_bus  to_bus  length_km  r_ohm_per_km  x_ohm_per_km  c_nf_per_km  g_us_per_km  max_i_ka   df  parallel type  in_service
0  line1  NAYY 4x50 SE         1       2        0.5         0.642         0.083        210.0          0.0     0.142  1.0         1   cs        True
1  line2  NAYY 4x50 SE         2       3        0.5         0.642         0.083        210.0          0.0     0.142  1.0         1   cs        True
n

          name            std_type  hv_bus  lv_bus  sn_mva  vn_hv_kv  vn_lv_kv  vk_percent  vkr_percent  pfe_kw  i0_percent  shift_degree tap_side  tap_neutral  tap_min  tap_max  tap_step_percent  tap_step_degree  tap_pos  tap_phase_shifter  parallel   df  in_service
0  transformer  0.25 MVA 10/0.4 kV       0       1    0.25      10.0       0.4         4.0          1.2     0.6        0.24         150.0       hv            0       -2        2               2.5              0.0        0              False         1  1.0        True

In [21]:
# poweflow calc

pp.runpp(net)
print(net.res_bus)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

      vm_pu  va_degree      p_mw    q_mvar
0  1.000000   0.000000 -0.028256 -0.013475
1  0.996608  -0.208127  0.000000  0.000000
2  0.937760   0.992541  0.010000  0.005000
3  0.902000   1.815913  0.015000  0.008000

In [22]:
print(net)

This pandapower network includes the following parameter tables:
   - bus (4 elements)
   - load (2 elements)
   - sgen (2 elements)
   - ext_grid (1 element)
   - line (2 elements)
   - trafo (1 element)
   - bus_geodata (4 elements)
 and the following results tables:
   - res_bus (4 elements)
   - res_line (2 elements)
   - res_trafo (1 element)
   - res_ext_grid (1 element)
   - res_load (2 elements)
   - res_sgen (2 elements)

In [26]:
net.res_line

   p_from_mw  q_from_mvar   p_to_mw  q_to_mvar     pl_mw   ql_mvar  i_from_ka   i_to_ka      i_ka  vm_from_pu  va_from_degree  vm_to_pu  va_to_degree  loading_percent
0   0.027611     0.013328 -0.025713  -0.013088  0.001899  0.000241   0.044405  0.044408  0.044408    0.996608       -0.208127   0.93776      0.992541        31.273099
1   0.015713     0.008088 -0.015000  -0.008000  0.000713  0.000088   0.027200  0.027203  0.027203    0.937760        0.992541   0.90200      1.815913        19.157250

In [27]:
net.res_trafo

    p_hv_mw  q_hv_mvar   p_lv_mw  q_lv_mvar     pl_mw   ql_mvar   i_hv_ka   i_lv_ka  vm_hv_pu  va_hv_degree  vm_lv_pu  va_lv_degree  loading_percent
0  0.028256   0.013475 -0.027611  -0.013328  0.000644  0.000147  0.001807  0.044405       1.0           0.0  0.996608     -0.208127        12.521762